<div class="imagen_logo">
   <%= image_tag "foto.jpg"%>
</div>
<p>
  <strong>Nombre:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @post.text %>
</p>

<h2>Comentarios</h2>
<%= render @post.comments %>

<h2>Agregar comentario:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :Comentario %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :Cuerpo %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Regresar", posts_path %>
| <%= link_to "Editar", edit_post_path(@post) %>
